<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Vantage Tech</h2>
                <hr class="light">
                <p class="text-faded">I'm a technology enthusiast with over 15 years of hands-on experience in VMware virtualization, storage design, and Microsoft technologies. I assist business to analyze their complex business needs to find the appropriate solution, and increase their return on investment. I bring an innovative and pragmatic approach to analyzing complex business needs, enabling me to conceptualize, design and implement solutions based on the latest virtualization, and storage.</p>
                <a href="#" class="btn btn-default btn-xl">Contact Us</a>
            </div>
        </div>
    </div>
</section>
