<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Vantage Tech</h1>
            <hr>
            <p>Hello thank you for visiting </p>
            <p>I've been doing business as Vantage Tech for over 10 years.  I started our in Northern Colorado and now located in Hudson Valley of New York. </p>
            <p> </p>I to offer IT consultation for your next project. </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
